<form method="post" action='/send_email' enctype="multipart/form-data">
<div class="border-double border-4 border-sky-500 w-auto h-auto">
	<label for="subject">Subject:</label>
	<input type="text" id="subject" name="subject" value="" size="50"><br><br>
	<label for="participants">Participants:</label>
		<select name="participants" id="participants">
			<option value=""></option>
			<% contacts.each do |contact| %>
				<% email = contact[10].scan(/(?<=email:).+/) %>
				<% phone = contact[11].scan(/(?<=:).+/) %>
				<% participant = email[0].to_s + "/" + contact[1] + "/" + phone[0].to_s %>
				<option value="<%=participant%>"><%=email[0]%></option>
			<% end %>
		</select><br><br>
		<input type="text" id="participants_list" name="participants_list" value="" size="50" readonly>
		<input type="hidden" id="names_list" name="names_list" value="" size="50" readonly>
		<div class="bg-blue-300 border-blue-300 border-b p-4 m-4 rounded place-content-center max-h-full flex justify-center items-center">
			<button type="button" onclick="addRecipient()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add One</button>
			&nbsp<button type="button" onclick="addAllRecipients()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add All</button>
			&nbsp<button type="button" onclick="Clear()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Clear</button>
		</div>
		<div id="editor"></div>
		<script src="https://unpkg.com/pell"></script>
		<textarea name="body" id="body" rows=5 cols=49 style="display:none;"></textarea>
</div><br>
<div class="flex justify-center">
 <button type="submit" class="block bg-blue-500 hover:bg-blue-700 text-white text-lg mx-auto py-2 px-4 rounded-full">Submit</button>
 <button type="button" class="block bg-blue-500 hover:bg-blue-700 text-white text-lg mx-auto py-2 px-4 rounded-full" onclick="location.href='/display_emails'">Cancel</button> 
 </div>
</form>
</div>
<script>
const pell = window.pell;
const editor = document.getElementById("editor");
const area = document.getElementById("body");

pell.init({
  element: editor,
  onChange: (html) => {
    area.innerText = html;
  }
})

	function addRecipient() {
		var myReEmail = /^[^/]*/g;
		var email = myReEmail.exec(document.getElementById("participants").value);
		document.getElementById("participants_list").value = document.getElementById("participants_list").value + email + ";";
		
		var myReName = /\/.*?\//g;
		var name = myReName.exec(document.getElementById("participants").value);
		name = name.toString().substring(1);
		name = name.slice(0,-1);
		document.getElementById("names_list").value = document.getElementById("names_list").value + name + ";";
		
		var myRePhone = /\+.*/g
		var phone = myRePhone.exec(document.getElementById("participants").value);
		phone = phone.toString().replace(/\-/gi,"");
		phone = phone.toString().replace(/\s/g,"");
		document.getElementById("phones_list").value = document.getElementById("phones_list").value + phone + ";";
	}
	
	function addAllRecipients() {
	var participants = document.getElementById("participants");
    for (var i = 0; i < participants.length; i++) {
		var myReEmail = /^[^/]*/g;
		var myReName = /\/.*?\//g;
		var email = myReEmail.exec(participants.options[i].value);
		if(!!email && email != ''){
			document.getElementById("participants_list").value = document.getElementById("participants_list").value + email + ";";
		}
		var name = myReName.exec(participants.options[i].value);
		if(!!name){
			name = name.toString().substring(1);
			name = name.slice(0,-1);
			document.getElementById("names_list").value = document.getElementById("names_list").value + name + ";";
		}		
    }
	}
	
	function Clear(){
		document.getElementById("participants_list").value = "";
		document.getElementById("names_list").value = "";
	}
</script>
